<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family
=Barlow+Condensed:wght@200&family=Merriweather:wght@300&family
=Roboto+Mono:ital,wght@1,200&family=Ubuntu&display=swap" rel="stylesheet">
    <title><%= title %></title> 
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="profil">
                <div id="profil"></div>
                <div id="nom">
                    <h1>Willy B. Biti</h1>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="conatiner corps">
            <div class="content">

                <div class="cards">
                    <a href="/">
                        <div class="card" id="eu">
                            <h1>Portfólio</h1>
                        </div>
                    </a>

                    <a href="/redes">
                        <div class="card" id="tech">
                            <h1>Redes Sociais</h1>
                        </div>
                    </a>

                    <a href="/certificados">
                        <div class="card" id="cert">
                            <h1>Certificado</h1>
                        </div>
                    </a>
                </div>

                <div class="cards">
                    <a href="https://github.com/Willy-biti" target="_blank">
                        <div class="card" id="git">
                            <h1>Github</h1>
                        </div>
                    </a>

                    <a href="/tecnologia">
                        <div class="card" id="redes">
                            <h1>Tecnologias</h1>
                        </div>
                    </a>

                    <a href="/contato">
                        <div class="card" id="contact">
                            <h1>Contato</h1>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <footer>
        <div class="container footer">
            <div class="rodape">
                <h3>By me (Willy B. Biti)</h3>
                <h5>Programador fullstack junior</h5>
            </div>
        </div>
    </footer>
</body>
</html>