<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family
=Barlow+Condensed:wght@200&family=Merriweather:wght@300&family
=Roboto+Mono:ital,wght@1,200&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/projetos.css"
</head>
<body>
    <header>
        <div class="contheader">
            <div class="header">
                <h1>Meus projetos</h1>
            </div>
            <div class="voltar">
                <a href="/"><img src="/images/voltar.png" width="45px" alt=""></a>
            </div>
        </div>
    </header>
    <section>
        <div class="Container">
            <div class="Content">
                <div class="card">
                    <div class="cards">
                        <div class="imgcard">
                            <img src="/images/projetos/pangeia/Sobre1.jpeg" width="100%" height="100%">
                        </div>
                        <div class="desccar">
                            <div class="textodesc">
                                <h1>Associação Pangeia-FC</h1>
                                <h3>Projeto ainda em construção</h3>
                                <p>Projeto pangeia, está sendo desenvolvido por mim.</p>
                                <p>Para o desenvolvimento do projeto, a linguagem da programação é REACT-JS</p>
                            </div>
                            <div class="botao">
                                <div class="urlbotao">
                                    <a href="https://pangeia-florianopolis.herokuapp.com/" target="_blank">Clique aqui!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="imgcard">
                            <img src="/images/eu.jpg" width="100%" height="100%">
                        </div>
                        <div class="desccar">
                            <div class="textodesc">
                                <h1>Meu portfólio</h1>
                                <p>Um projeto desenvolvido por mim.</p>
                                <p>Para o desenvolvimento do projeto, as linguagens da programação são : JAVASCRIPT;
                                    CSS; HTML; NODE-JS e SQL.
                                </p>
                            </div>
                            <div class="botao">
                                <div class="urlbotao">
                                    <a href="https://willy-portfolio.herokuapp.com/" target="_blank">Clique aqui!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="imgcard">
                            <img src="/images/projetos/donapreta/Logo.png" width="100%" height="100%">
                        </div>
                        <div class="desccar">
                            <div class="textodesc">
                                <h1>Dona Preta Confeitaria</h1>
                                <h3>Projeto ainda em construção</h3>
                                <p>Projeto dona preta confeitaria, está sendo desenvolvido por mim.</p>
                                <p>Para o desenvolvimento do projeto, a linguagem da programação é REACT-JS</p>
                            </div>
                            <div class="botao">
                                <div class="urlbotao">
                                    <a href="https://dona-preta-confeitaria.herokuapp.com/" target="_blank">Clique aqui!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>