<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family
=Barlow+Condensed:wght@200&family=Merriweather:wght@300&family
=Roboto+Mono:ital,wght@1,200&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/redes.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header">
                <h1>Minhas redes sociais</h1>
                <h4>Siga-me!</h4>
            </div>
            <div class="voltar">
                <a href="/"><img src="/images/voltar.png" width="45px" alt=""></a>
            </div>
        </div>
    </header>
    <section>
        <div class="conatiner corps">
            <div class="content">

                    <div class="cards">
                        <a href="https://www.instagram.com/willy_biti/" target="_blank">
                            <div class="card" id="eu">
                                <div class="eu">
                                    <img src="/images/redes/insta.png" width="20px" alt="">
                                    <h1>Instagram</h1>
                                </div>
                            </div>
                        </a>

                        <a href="https://www.facebook.com/wilbiti/" target="_blank">
                            <div class="card" id="face">
                                <div class="face">
                                    <img src="/images/redes/facebook.png" width="20px" alt="">
                                    <h1>Facebook</h1>
                                </div>
                            </div>
                    </a>
                
                        <a href="https://wa.me/message/ENYBD2CG6QTEF1" target="_blank">
                            <div class="card" id="wpp">
                                <div class="wpp">
                                    <img src="/images/redes/wpp.png" width="20px" alt="">
                                    <h1>Whatsapp</h1>
                                </div>
                            </div>
                        </a>
    
                        <a href="https://github.com/Willy-biti" target="_blank">
                            <div class="card" id="git">
                                <div class="git">
                                    <img src="/images/redes/git.png" width="20px" alt="">
                                    <h1>Github</h1>
                                </div>
                            </div>
                        </a>
                    

                        <a href="https://www.linkedin.com/in/willy-bangakosa-biti-bb5630174/" target="_blank">
                            <div class="card" id="linkedin">
                                <div class="linkedin">
                                    <img src="/images/redes/linkedin.png" width="20px" alt="">
                                    <h1>Instagram</h1>
                                </div>
                            </div>
                        </a>

                        <a href="/contato">
                            <div class="card" id="contact">
                                <div class="contact">
                                    <img src="/images/redes/contact.png" width="20px" alt="">
                                    <h1>Contato</h1>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer>
        <div class="container footer">
            
        </div>
    </footer>

</body>
</html>