<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family
=Barlow+Condensed:wght@200&family=Merriweather:wght@300&family
=Roboto+Mono:ital,wght@1,200&family=Ubuntu&display=swap" rel="stylesheet">
    <title><%= title %></title> 
    <link rel="stylesheet" href="css/tecnologia.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="profil">
                <h1>Tecnologias</h1>
                <p></p>
            </div>
            <div class="voltar">
                <a href="/"><img src="/images/voltar.png" width="45px" alt=""></a>
            </div>
        </div>
    </header>

    <section>
        <div class="conatiner corps">
            <div class="content">

                <div class="cards">
                    <a href="#">
                        <div class="card" id="html">
                            <div class="html">
                                <div class="h1Html">
                                    <h1>Html</h1>
                                </div>
                                <div class="imgHtml">
                                    <img src="/images/tecn/html.png" width="80%" alt="">
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="card" id="css">
                            <div class="css">
                                <div class="h1css">
                                    <h1>Css</h1>
                                </div>
                                <div class="imgcss">
                                    <img src="/images/tecn/css.png" width="80%" alt="">
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="card" id="js">
                            <div class="js">
                                <div class="h1js">
                                    <h1>Js</h1>
                                </div>
                                <div class="imgjs">
                                    <img src="/images/tecn/js.png" width="80%" alt="">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="cards">
                    <a href="#">
                        <div class="card" id="git">
                            <div class="git">
                                <div class="h1git">
                                    <h1>Github</h1>
                                </div>
                                <div class="imggit">
                                    <img src="/images/tecn/git.png" width="80%" alt="">
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="card" id="nodejs">
                            <div class="nodejs">
                                <div class="h1nodejs">
                                    <h1>Nodejs</h1>
                                </div>
                                <div class="imgnodejs">
                                    <img src="/images/tecn/nodejs.png" width="80%" alt="">
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="#">
                        <div class="card" id="sql">
                            <div class="sql">
                                <div class="h1sql">
                                    <h1>Sql</h1>
                                </div>
                                <div class="imgsql">
                                    <img src="/images/tecn/sql.png" width="80%" alt="">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <footer>
        <div class="container footer">
            <div class="rodape">
                
            </div>
        </div>
    </footer>
</body>
</html>