<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family
=Barlow+Condensed:wght@200&family=Merriweather:wght@300&family
=Roboto+Mono:ital,wght@1,200&family=Ubuntu&display=swap" rel="stylesheet">
    <title><%= title %></title> 
    <link rel="stylesheet" href="../public/css/tecnologia.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="profil">
                <h1>Tecnologias</h1>
                <p></p>
            </div>
            <div class="voltar">
                <a href="/"><img src="../public/images/voltar.png" width="45px" alt=""></a>
            </div>
        </div>
    </header>

    <section>
        <div class="conatiner corps">
            <div class="content">

                <div class="cards">
                    <a href="#">
                        <div class="card" id="eu">
                            <h1>Html</h1>
                        </div>
                    </a>

                    <a href="#">
                        <div class="card" id="tech">
                            <h1>Css</h1>
                        </div>
                    </a>

                    <a href="#">
                        <div class="card" id="cert">
                            <h1>Javascript</h1>
                        </div>
                    </a>
                </div>

                <div class="cards">
                    <a href="#">
                        <div class="card" id="git">
                            <h1>Github</h1>
                        </div>
                    </a>

                    <a href="#">
                        <div class="card" id="redes">
                            <h1>NodeJs</h1>
                        </div>
                    </a>

                    <a href="#">
                        <div class="card" id="contact">
                            <h1>Sql</h1>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <footer>
        <div class="container footer">
            <div class="rodape">
                
            </div>
        </div>
    </footer>
</body>
</html>