*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(120deg, #274c87, #e61728); */
    background-image: linear-gradient(90deg, rgb(57, 80, 211), rgb(202, 36, 36));
    font-family: Ubuntu , sans-serif;
}

header{
    display: flex;
    height: 35vh;
}

.container{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.profil{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profil{
    display: flex;
    width: 10%;
    height: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/eu.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    border: 4px solid rgb(223, 11, 11);
}

#nom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 10%;
    margin-top: 20px;
}

#nom h1{
    color: white;
    margin-top: 5px;
    letter-spacing: 3px;
}

section{
    display: flex;
    height: 70vh;
    justify-content: center;
    margin-top: 20px;
}

.corps{
    display: flex;
    width: 40vw;
    height: 100%;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: #202225; */
}

.cards{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-image: linear-gradient(-90deg, white, white);
    /* background: #e0d7d7; */
    margin: 3%;
    box-shadow: 5px 5px 15px #494c50;
    border-radius: 30px;
    transition: 0.4s;
}

.card:hover{
    background-image: linear-gradient(-90deg, rgb(57, 80, 211), rgb(202, 36, 36));
    color: white;
}

.cards a{
    display: flex;
    flex: 1;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
}

.cards a:hover{
    transform: scale(0.95);
    color: white;
}

.card h1{
    text-align: center;
    color: #3e32a8;
    letter-spacing: 5px;
    font-size: 18px;
    transition: 0.2s;
}

.card h1:hover{
    transform: scale(0.95);
    color: white;
}


/* #eu{
    background-image: linear-gradient(rgba(0, 0, 0, .50) , rgba(0, 0, 0, .50)100%), url(../images/eu.jpg);
    background-position: center;
    background-size: cover;
}

#git{
    background-image: linear-gradient(rgba(0, 0, 0, .50) , rgba(0, 0, 0, .50)100%), url(../images/github.png);
    background-position: center;
    background-size: cover;
} */

footer{
    display: flex;
    height: 20vh;
}

.footer{
    margin-top: 20px;
}
