*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-image: linear-gradient(120deg, #274c87, #e61728); */
    background-image: linear-gradient(90deg, rgb(57, 80, 211), rgb(202, 36, 36));
    font-family: Ubuntu , sans-serif;
}

header{
    display: flex;
    height: 20vh;
}

.container{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.profil{
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil h1{
    /* color: #f1f1f1; */
    color: #3e32a8;
    font-size: 60px;
    letter-spacing: 3px;
}

.voltar{
    position: fixed;
    top: 5vh;
    left: 5vw;
}

.voltar img{
    cursor: pointer;
    transition: 0.4s;
}

.voltar img:hover{
    transform: scale(0.90);
}


section{
    display: flex;
    height: 70vh;
    justify-content: center;
    margin-top: 20px;
}

.corps{
    display: flex;
    width: 40vw;
    height: 100%;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: #202225; */
}

.cards{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* background-image: linear-gradient(-90deg, white, white); */
    background-image: linear-gradient(-90deg, rgb(57, 80, 211), rgb(202, 36, 36));
    /* background: #e0d7d7; */
    margin: 3%;
    box-shadow: 5px 5px 15px #494c50;
    border-radius: 30px;
    transition: 0.4s;
}

.card:hover{
    
    color: white;
}

.cards a{
    display: flex;
    flex: 1;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
}

.cards a:hover{
    transform: scale(0.95);
    color: white;
}

.card h1{
    text-align: center;
    color: #3e32a8;
    letter-spacing: 5px;
    font-size: 24px;
    transition: 0.2s;
}

.card h1:hover{
    transform: scale(0.95);
    color: white;
}

.html, .css, .js, .git, .nodejs, .sql, .react, .gitgit, .bootstrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    /* background-image: url(../images/tecn/html.png);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    */
} 

.imgHtml, .imgcss, .imgjs, .imggit, .imgnodejs, .imgsql, .imgReact, .imgGitgit, .imgBootstrap{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
}


/* 
#css{
    background-image: url(../images//tecn/css.png);
    background-position: center;
    background-size: cover;
}

#js{
    background-image: url(../images//tecn/js.png);
    background-position: center;
    background-size: cover;
}

#git{
    background-image: url(../images//tecn/git.png);
    background-position: center;
    background-size: cover;
}

#nodejs{
    background-image: url(../images//tecn/nodejs.png);
    background-position: center;
    background-size: cover;
}

#sql{
    background-image: url(../images//tecn/sql.png);
    background-position: center;
    background-size: cover;
} */


@media(max-width: 999px){
    .corps{
        width: 50vw;
    }
}

@media(max-width: 811px){
    .corps{
        width: 60vw;
    }
}

@media(max-width: 662px){
    .content{
        display: flex;
        flex-direction: column;
    }

    .profil h1{
        font-size: 50px;
    }
}


@media(max-width: 441px){
    .content{
        display: flex;
        flex-direction: column;
    }

    .corps{
        width: 80vw;
    }

    .card h1{
        font-size: 20px;
    }

    .profil h1{
        font-size: 40px;
    }

}

@media(max-width: 300px){
    .corps{
        width: 80vh;
    }

    .card h1{
        font-size: 18px;
    }

}




footer{
    display: flex;
    height: 20vh;
}

.footer{
    margin-top: 20px;
}
